<app-navbar class="nav"></app-navbar>
<div class="body" [class.width]="!width">
    <div class="main">
        <div class="container" *ngIf="mail_count === 0">
            <h1>Empty Inbox</h1>
            <div class="empty-inbox">
                <img src="../../assets/emptybox.png" alt="Empty Inbox Icon">
                <p>Your inbox is empty</p>
            </div>
        </div>
        <div *ngIf="mail_count > 0">
            <ul>
              <li *ngFor="let email of mails" class="email-item">
                <h3>{{ email.subject }}</h3>
                <p><strong>From:</strong> {{ email.sender }}</p>
                <p><strong>To:</strong> {{ email.recipient }}</p>
                <p>{{ email.body }}</p>
                <p><em>{{ email.created_at | date:'short' }}</em></p>
              </li>
            </ul>
          </div>
    </div>
</div>