<div class="search">
    <app-serachbar></app-serachbar>
</div>
<div class="body">
    <div class="main">
        <div class="bar"><img src="../../assets/3bar.png" alt="3bar" class="threebar"></div>
        <div class="compose"><div><img src="../../assets/conpose.png" alt="compose" class="compos"> Compose</div></div>
        <div class="navbar">
            <div class="nav-item"><img src="../../assets/inbox.png" alt="inbox" class="inbox"> Inbox</div>
            <div class="nav-item"><img src="../../assets/star.svg.png" alt="stared" class="star"> Starred</div>
            <div class="nav-item"><img src="../../assets/sent.png" alt="sent" class="sent"> Sent</div>
            <div class="nav-item"><img src="../../assets/draft.png" alt="draft" class="draft"> Drafts</div>
            <div class="nav-item"><img src="../../assets/spam.png" alt="spam" class="spam"> Spam</div>
            <div class="nav-item"><img src="../../assets/bin.png" alt="bin" class="bin"> Trash</div>
        </div>        
    </div>
</div>