.main{
    width: 15%;
    background-color: #f2f2f2;
    height: 100vh;
}
.bar{
    width: 15vw;
    height: 10vh;
    background-color: #f2f2f2;
}
.temp{
    width: 4%;
}
.threebar{
    margin: 7%;
    width: 12%;
    padding: 3%;
    border-radius: 50%;
}
.threebar:hover{
    cursor: pointer;
    background-color: #ddd;
}
.compose{
    display: flex;
    justify-content: center;
}
.compose div{
    width: 70%;
    display: flex;
    justify-content: space-evenly;
}
.cd{
    display: flex;
    align-items: center;
    border: 1px solid gray;
    width: 60%;
    height: 7vh;
    border-radius: 20px;
}
.cd:hover{
    cursor: pointer;
}
.compos{
    width: 35%;
    cursor: pointer;
}
.compose div:hover{
    background-color: #ddd;
}
.navbar {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: #f2f2f2;
    padding: 10px 0;
}

.nav-item {
    padding: 15px 20px;
    cursor: pointer;
    transition: background-color 0.3s;
    display: flex;
    align-items: center;
}

.nav-item:hover {
    background-color: #ddd;
}
.inbox, .draft{
    width: 17%;
}
.star, .sent, .bin{
    width: 13%;
}
.spam{
    width: 18%;
}
img{
    margin-left: 10%;
    margin-right: 7%;
}
.search{
    margin: 0;
    position: absolute;
    right: 0px;
    width: 85vw;
    background-color: skyblue;
}
.change1{
    width: 50%;
}
.change2{
    width: 50%;
}
.compos1{
    width: 100%;
}
.padding{
    padding: 15px 0px;
    display: flex;
    justify-content: center;
}
.active{
    background-color: #ddd;
}