<div class="body">
    <form [formGroup]="Login" (ngSubmit)="Submit()">
        <div class="main">
            <img src="../../assets/profileicon.png" alt="" class="profile">
            <div class="template">
                <span class="error emailerr"
                    *ngIf="Login.get('email')?.invalid && Login.get('email')?.touched || email_error">please enter a
                    valid
                    email</span>
                <p>Enter your email: &nbsp;<input type="email" placeholder="Enter Email" class="email"
                        formControlName="email"
                        [class.bordererrorcolor]="Login.get('email')?.invalid && Login.get('email')?.touched || email_error"
                        (focus)="Email_err()">{{domain}}</p>
                <span class="error passworderr"
                    *ngIf="Login.get('password')?.invalid && Login.get('password')?.touched || password_error">please
                    enter
                    a valid password</span>
                <p>Enter password: &nbsp;&nbsp;&nbsp;<input type="password" placeholder="Enter password" class="password"
                        formControlName="password"
                        [class.bordererrorcolor]="Login.get('password')?.invalid && Login.get('password')?.touched || password_error"
                        (focus)="Password_err()"></p>
                <div class="login"><button type="submit">login</button></div>
            </div>
            <div class="other">
                <div class="forget"><a routerLink="/forget">Forget password</a></div>
                <div class="register"><a routerLink="/signup">Not A User</a></div>
            </div>
        </div>
    </form>
</div>