<div class="body">
  <div class="main" *ngIf="type">
    <div class="header">
      <h1>Registration</h1>
      <hr />
    </div>

    <form [formGroup]="Signupcheck" (ngSubmit)="ChangeTab()">
      <div class="details">
          <label for="name">Enter your name:</label>

          <div class="span">
            <span class="name_error"
              *ngIf="
                (Signupcheck.get('name')?.invalid &&
                  Signupcheck.get('name')?.touched) ||
              name_error"
            >
              Please enter your name
            </span>
          </div>

          <input
            id="name" type="text" formControlName="name" placeholder="Full Name"
            [class.error]="
              (Signupcheck.get('name')?.invalid &&
                Signupcheck.get('name')?.touched) ||
              name_error
            "
            (focus)="NameError()"
          />

          <br><br>
          <label for="dob">Enter your DOB:</label>
          <div class="span">
            <span class="dob_error"
              *ngIf="
                (Signupcheck.get('dob')?.invalid &&
                  Signupcheck.get('dob')?.touched) ||
              dob_error"
            >
              Please enter your DOB
            </span>
          </div>

            <input
              id="dob"
              type="date"
              formControlName="dob"
              [class.error]="
                (Signupcheck.get('dob')?.invalid &&
                  Signupcheck.get('dob')?.touched) ||
                dob_error
              "
              (focus)="DobError()"
            />
          <br><br>
          <div class="gender">
            <p>Enter your Gender:</p>
            <div class="span1">
              <span
                class="gender_error"
                *ngIf="
                  (Signupcheck.get('gender')?.invalid &&
                    Signupcheck.get('gender')?.touched) ||
                  gender_error
                "
              >
                Please select your gender
              </span></div>
            <div class="gen">
            <label for=""></label>
            <label>
              <input
                type="radio"
                [value]="'male'"
                formControlName="gender"
                (click)="GenderError()"
              />
              Male
            </label>
            <label>
            <input
              type="radio"
              [value]="'female'"
              formControlName="gender"
              (click)="GenderError()"
            />
            Female
            </label>
            </div>
          </div>
          <label for="mobile">Enter your Mobile:</label>
          <div class="span">
          <div class="mobile_error">
          <span
            class="error-message"
            *ngIf="
              (Signupcheck.get('mobile')?.invalid &&
                Signupcheck.get('mobile')?.touched) ||
              mobile_error
            "
          >
            Please enter your mobile number
          </span></div></div>
          <input
            id="mobile"
            type="number"
            formControlName="mobile"
            placeholder="Mobile Number"
            [class.error]="
              (Signupcheck.get('mobile')?.invalid &&
                Signupcheck.get('mobile')?.touched) ||
              mobile_error
            "
            (focus)="MobileError()"
          />
          <span class="error-message" *ngIf="mobile_check_error">
            Mobile number already registered
          </span>
      </div>

      <div class="other">
        <a routerLink="/login">Back to Login</a>
        <button type="submit">Next</button>
      </div>
    </form>
  </div>

  <div class="main" *ngIf="!type">
    <div class="header">
      <h1>Registration</h1>
      <hr />
    </div>

    <form [formGroup]="Email" (ngSubmit)="Submit()">
      <div class="details">
          <label for="email">Pick an Email:</label>
          <div class="span">
            <span class="error-message" *ngIf="email_check_error">
              Email already in use
            </span>
            <span
              class="error-message"
              *ngIf="
                (Email.get('email')?.invalid && Email.get('email')?.touched) ||
                email_error
              "
            >
              Please choose an email
            </span></div>
          <input
            id="email"
            type="text"
            formControlName="email"
            placeholder="Enter your Email"
            [class.error]="
              (Email.get('email')?.invalid && Email.get('email')?.touched) ||
              email_error
            "
            (focus)="EmailError()"
          />@bengalintituteoftechnology.online
          <br><br>

          <label for="password">Enter Password:</label>
          <div class="span">
            <span
            class="error-message"
            *ngIf="
              (Email.get('password')?.invalid &&
                Email.get('password')?.touched) ||
              password_error
            "
          >
            Please enter a password
          </span>
          </div>
          <input
            id="password"
            type="password"
            formControlName="password"
            placeholder="Enter Password"
            [class.error]="
              (Email.get('password')?.invalid &&
                Email.get('password')?.touched) ||
              password_error
            "
            (focus)="PasswordError()"
          />
          <br><br>

          <label for="confirmpassword">Confirm Password:</label>
          <div class="span">
            <span
            class="error-message"
            *ngIf="
              (Email.get('confirmpassword')?.touched &&
                Email.get('confirmpassword')?.value !==
                  Email.get('password')?.value) ||
              confirmpassword_error
            "
          >
            Please confirm password correctly
          </span>
          </div>
          <input
            id="confirmpassword"
            type="password"
            formControlName="confirmpassword"
            placeholder="Re-Enter Password"
            [class.error]="
              (Email.get('confirmpassword')?.touched &&
                Email.get('confirmpassword')?.value !==
                  Email.get('password')?.value) ||
              confirmpassword_error
            "
            (focus)="ConfirmPasswordError()"
          />
      </div>

      <div class="other">
        <a (click)="ChangeType()">Back</a>
        <button type="submit">Submit</button>
      </div>
    </form>
  </div>
</div>
